
/*custom dos font*/

@font-face {
    font-family: 'perfect_dos_vga_437regular';
    src: url('../fonts/dos/dos-webfont.eot');
    src: url('../fonts/dos/dos-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dos/dos-webfont.woff') format('woff'),
         url('../fonts/dos/dos-webfont.ttf') format('truetype'),
         url('../fonts/dos/dos-webfont.svg#perfect_dos_vga_437regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.outerreaves {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  color: #DCDCDC !important;
  margin-bottom: 0rem;
  padding: 0rem;
  background: #000000; 
}

.reaves {
  border-style: solid;
  border-width: 0px;
  border-color: #d8d8d8;
  color: #DCDCDC !important;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #000000; 
}